/* Aechelon Coding Services Website CSS */



body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
}
.header-wrapper{
    background-color: #cb7752;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.half-width-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;

}

header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 0;
    color: #ffffff;
}
header nav {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav ul li a {
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
}
.full-width img {
    width: 100%;
    height: auto;
}
#greeting {
    position: relative;
    height: 400px;
    background-image: url('../img/tom-podmore-roof.jpg');
    background-size: cover;
    background-position: top;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.layer {
  background: linear-gradient(rgba(255, 115, 0, 0.651), rgba(153, 0, 255, 0.233));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#quote {
    position: absolute;
    width: 60%;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 10;
    text-shadow: #34193a 2px 2px;

}
#quote h1 {
    color: #ffffff;
    width: 50%;
    margin: 0;
    font-family: 'Source Code Pro';
    font-size: 40px;
}
#quote h1 span {
    color: #cb7752;
}
#portfolio {
    background: #34193a;
    color: #ffffff;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}
.portfolio-wrapper {
    width: 90%;
}


#portfolio h4 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
}

#portfolio h4 span {
    font-size: 16px;
}

#portfolio p {
    max-width: 100%;
    font-size: 14px;
    padding: 0px 12%;
    margin-bottom: 40px;
}

figure {
  margin: 0;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}

#about {
    background: #6dcb99;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.about-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#about h2 {
  margin: 0;
  padding: 20px 0;
}
#about p {
  width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#contact {
    background: #34193a;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
#contact h2 {
  margin: 0;
  padding-top: 10px;
}
.third-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 90%;
    height: auto;
    padding: 20px 0;
}
#links ol {
    width: 60%;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
#links ol li {
    display: flex;
}

#links h3 {

    margin-top: 0;
}
#links img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

#dfw-map h3 {
    margin-top: 0;
}
footer {
    background: #34193a;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#cell-email a {
    text-decoration: underline;
    color: #ffffff;
}
#cell-eamil h3 {
    margin-top: 0px;
}
#contact p {
  margin-top: 0;

}
#contact a{
  width: 100%;
}


@media only screen and (min-width: 768px) {

header img {
      width: 40px;
      height: 40px;
      margin-left: 0;
  }

header h1 {
      font-size: 18px;
      margin-left: 0;
  }

header nav {
      width: 90%;
      margin-left: 0;
      margin-bottom: 0;
  }

nav ul li a {
      font-size: 14px;
  }

#greeting {
    height: 500px;
    background-size: cover;
    background-position: center;
}


.half-width-header {
    width: 49%;
  }

#quote h1 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: #34193a 2px 2px;
  }
#portfolio {
      flex-flow: row wrap;
  }

figure {
    width: 45%;
  }
.portfolio-wrapper {
      width: 92%;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }

.portfolio-wrapper article {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

article div {
    width: 45%;
  }

.full-width {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }

#portfolio h2 {
    width: 100%;
    font-size: 28px;
  }
#portfolio h4 {
      font-size: 24px;
      line-height: 30px;
  }
#portfolio h4 span {
      font-size: 18px;
  }
#portfolio p {
      margin-top: 20px;
      padding: 0;
      font-size: 16px;
  }

#about {
      background: #6dcb99;
      color: #ffffff;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }
.about-wrapper figure {
    width: 40%;
    display: flex;
    justify-content: center;
  }
.about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 50px;

  }
#about h2 {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.about-wrapper div {
    width: 60%;
    padding-left: 5%;
  }

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
#contact {
      background: #34193a;
      color: #ffffff;
      text-align: center;
      width: 100%;
  }
#contact h2 {
    margin: 0;
    padding-top: 10px;
  }
.third-width {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      width: 30%;
      height: auto;
      padding: 20px 0;
  }
#links ol {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }

#cell-email h3 {
      margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {

header img {
      width: 50px;
      height: 50px;
      margin-left: 0;
  }

header h1 {
      font-size: 24px;
      margin-left: 0;
  }
nav ul li a {
      font-size: 20px;
  }
  #quote h1 {
      font-size: 60px;
      color: #fff;
      text-shadow: #34193a 2px 2px;
  }
  #portfolio h4 {
      font-size: 28px;
      line-height: 30px;
    }
  #portfolio h4 span {
      font-size: 22px;
    }
  #portfolio p {
      margin-top: 20px;
      padding: 0;
      font-size: 18px;
    }
}
