/* Aechelon Coding Services Website CSS */



body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
  margin: 0;
  padding: 0;
}
/* .wrapper {
  height: 100vh;
  overflow-y: auto;
  perspective: 10px;
} */
.header-wrapper{
    background: linear-gradient(#c0643c, #cb7752);
    width: 100%;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.ae-logo {
    width: clamp(2.5rem, 6vw, 6rem);
    height: clamp(2.5rem, 6vw, 6rem);
    margin-right: 1vw;
    transform: translateX(-20vw);
    opacity: 0;
    animation: logoShift 1.2s ease-out 0.3s forwards;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 2.5vw, 4rem);
    font-family: 'Roboto';
    letter-spacing: 0.07em;
    margin-left: 0;
    color: #ffffff;
    transform: translateX(20vw);
    opacity: 0;
    animation: logoShift 1.2s ease-out 0.3s forwards;
}

@keyframes logoShift {
    100% {transform: translateX(0);
          opacity: 1;
    }
}

.half-width-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: clamp(16rem, 70vw, 60rem);
    padding-bottom: 1vw;
}


header nav {
  width: clamp(18rem, 60vw, 60rem);
  margin: 0;
  margin-bottom: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-links {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'Source Code Pro';
    opacity: 0;
    color: #ffffff;
    animation: navFadeIn 0.5s ease-in 1s forwards;
}
.nav-links:hover {
  color:rgb(211, 182, 252);
}

@keyframes navFadeIn {
  100% {opacity: 1;}
}
.full-width img {
    width: 100%;
    height: auto;
}
#greeting {
    position: relative;
    height: 600px;
    background-image: url('../img/anatomy-website.jpg');
    background-size: cover;
    background-position: top;
    transform: translateY(0vw);
    transform-style: preserve-3d;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.layer {
  background: linear-gradient(to bottom, #cb7752ff 0%, transparent 20%, rgb(52, 25, 58) 95%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#quote {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    z-index: 10;
    text-shadow: #34193a 2px 2px;

}
#quote h1 {
    color: #ffffff;
    width: 50%;
    margin: 0;
    transform: translateY(20vh);
    opacity: 0;
    font-family: 'Source Code Pro';
    font-size: 40px;
    animation: quoteFloat 1.2s ease-out 1s forwards;
}

@keyframes quoteFloat {
    100% {transform: translateY(0vh); opacity: 1;}
}

#quote h1 span {
    color: #cb7752;
    opacity: 0;
    transform: scale(1.5);
    animation: spanFadeIn 0.5s ease-in 2s forwards;
}

@keyframes spanFadeIn {
    100% {opacity: 1;}
}

h2 {
  font-size: clamp(1rem, 5vw, 2.5rem);
  letter-spacing: 0.5vw;
}
h4 {
  letter-spacing: 0.2vw;
}

#portfolio {
    background: #34193a;
    color: #ffffff;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

}
.portfolio-wrapper {
    width: 90%;
}


#portfolio h4 {
    margin-top: 2vw;
    font-size: 5vw;
    line-height: 5vw;
}

#portfolio h4 span {
    color:  orange;
    font-size: 3.5vw;
}

#portfolio p {
    max-width: 100%;
    font-size: clamp(0.8rem, 3vw, 2rem);
    padding: 0px 5%;
    margin-bottom: 40px;
}

figure {
  margin: 0;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column-reverse;
}

#about {
    background: linear-gradient(to bottom, rgb(52, 25, 58) 2%, #6dcb99 5%, #6dcb99 96%, rgb(52, 25, 58) 99% );
    color: #ffffff;
    padding-top: 30px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.about-wrapper {
  width: 80%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}


.about-image {
  background: url(../img/acs-website-heatshot-jacket.jpg);
  background-size: cover;
  width: clamp(150px, 24vw, 180px);
  height: clamp(200px, 32vw, 240px);

}

.image-layer {
  background: transparent;
  box-shadow: inset 0 0 10px #83f7b9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about h2 {
  margin: 0;
  padding: 20px 0;
}

#about p {
  width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#contact {
    background: #34193a;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

#contact h2 {
  margin: 0;
  padding-top: 10px;
}

.third-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: clamp(100px, 80vw, 400px);
    height: auto;
    padding: 20px 0;
}
#links ol {
    width: 40%;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
#links ol li {
    display: flex;
}


#links img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(30px, 10vw, 50px);
}


footer {
    background: #34193a;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#cell-email a {
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
}
#cell-email h3 {
    margin-top: 0px;
}
#contact p {
  margin-top: 0;
  margin-bottom: 2vw;

}
#contact a{
  width: 100%;
}
#cell-email a:hover {
  color:rgb(134, 255, 219)
}


@media only screen and (min-width: 768px) {


#greeting {
    height: 600px;
    background-size: fill;
    background-position: center;
}

#quote h1 {
    font-size: 50px;
    color: #ffffff;
    text-shadow: #34193a 2px 2px;
  }
#portfolio {
      flex-flow: row wrap;
  }

figure {
    width: 62%;
}
.portfolio-wrapper {
      width: 95%;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }

.portfolio-wrapper article {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }

article div {
    width: 35%;
  }

.full-width {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }

#portfolio h2 {
    width: 100%;
    
  }
#portfolio h4 {
    margin-top: 2vw;
    font-size: 3vw;
    line-height: 2.5vw;
}

#portfolio h4 span {
    color: orange;
    font-size: 2vw;
}

#portfolio p {
    max-width: 100%;
    font-size: 1.7vw;
    padding: 0px 12%;
    margin-bottom: 40px;
}


#about {
      background: linear-gradient(to bottom, rgb(52, 25, 58) 2%, #6dcb99 5%, #6dcb99 96%, rgb(52, 25, 58) 99% );
      color: #ffffff;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }

.about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2vw;
  }

.about-text {
  width: 60%;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0 2vw;
}

#about h2 {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-image {
    background-size: cover;
    width: 25vw;
    height: 32vw;

  }

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
#contact {
      background: #34193a;
      color: #ffffff;
      text-align: center;
      width: 100%;
  }
#contact h2 {
    margin: 0;
    padding-top: 10px;
  }
.third-width {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      width: 30%;
      height: auto;
      padding: 20px 0;
  }
#links ol {
      width: 60%;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }

#cell-email h3 {
      margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {


  #quote h1 {
      font-size: 60px;
      color: #fff;
      text-shadow: #34193a 2px 2px;
  }
  #portfolio h4 {
      font-size: 2.4vw;
      line-height: 2.2vw;
      padding-bottom: 1.5vw;
    }
  #portfolio h4 span {
      font-size: 1.8vw;
    }
  #portfolio p {
      margin-top: 20px;
      padding: 0;
      font-size: 18px;
    }
}
