/***** BASE STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
/*** GRID ***/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.full-width-about {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    padding-bottom: 10px;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 398px;
    float: left;
}
.third-width-middle {
    width: 400px;
    float: left;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

/*** HEADER ***/

header {
    height: 110px;

}
    header h1 {
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
        text-transform: uppercase;
}
    header h1 span {
        color: #77a466;
}

    nav {
        float: left;
        padding: 25px 0px;
        font-family: 'Montserrat', sans-serif;
}
    nav ul li{
        display: inline-block;
}
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #77a466;
        padding-left: 23px;
}
    img {
        border-top: 3px solid #77a466;
        border-bottom: 3px solid #77a466;
    }
    #about {
        height: 170px;
}
    #about h2 {
        font-family: 'Montserrat', sans-serif;
        color: #77a466;
        font-size: 18px;
        text-transform: uppercase;
        padding-top: 10px;
}
    #about p {
        font-size: 16px;
        letter-spacing: 0.2px;
        line-height: 25px;
        padding-top: 5px;
}
    #menu h3 {
        font-size: 12px;
        text-transform: uppercase;
        padding: 15px 0 5px 0;
}
    #menu ul {
        list-style: none;
        margin-top: 0;
        padding: 0;
        color: #77a466;
        line-height: 30px;
        letter-spacing: 0.2px;
}
    #reviews h3 {
        font-size: 12px;
        text-transform: uppercase;
        padding: 15px 0 5px 30px;
}
    #reviews p {
        padding: 0 30px 15px 30px;
        line-height: 21px;
}
    #contact h3 {
        font-size: 12px;
        text-transform: uppercase;
        padding: 15px 0 5px 40px;
}
    #contact ul {
        list-style: none;
        margin: 0;
        padding-left: 40px;
        line-height: 24px;
}
    h4 {
        text-align: center;
}
    h4 span {
        font-family: 'Galada', serif;
        color: #77a466;
}
    footer {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #c0c0c0;
}
